html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.annotation {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 400;
  background: white;
  color: #333333;
  padding: 3px 12px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: max-content;
}
